*{
    margin: 0px;
}
.menubar{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 2px solid black;
    padding: 10px;
    background-color: #FFF6EA;
}
.menulinks,.prevbutton,.nextbutton{
    padding: .5 vw;
}
.menulinks a,.prevbutton a,.nextbutton a{
    text-decoration: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size:medium;
    border: 1px solid black;
    background-color:#0097B2    ;
    transition:0.4s;
    opacity:1;
   margin: 1px;
   font-weight:700;
   padding: 1px;
}
.menulinks a:hover{
    text-decoration: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size:medium;
    border: 1px solid black;
    background-color:#FFBD59;
    transition:0.4s;
    opacity:1;
   margin: 1px;
   font-weight:700;

}
.prevbutton a:hover,.nextbutton a:hover{
    text-decoration: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size:medium;
    border: 1px solid black;
    background-color:#FFF6EA;
    transition:0.4s;
    opacity:1;
   margin: 1px;
   font-weight:700;
}
.body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #FFBD59;
    max-width: 100vw; 
    height: 46vw;
    background-position: center;
    background-size: cover;
}

.body p{
    text-align:center ;
    font-family:"Comic Sans MS", "Comic Sans", cursive;
    font-weight: 900;
    font-size: larger;

}
.body p1{
    text-align:center ;
    font-family:"Comic Sans MS", "Comic Sans", cursive;
    font-weight: 900;
    font-size: x-large;

}
.body img{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bodytext{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bodytext h1,.bodytext h2{ 
    font-size: xx-large;
    color:#e3e8c8;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;
    font-weight: 900;


}

.footer{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 2px solid black;
    padding: 10px;
    background-color: #FFF6EA;
}
.copyrights{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.title{
    text-align: center;
     align-content: center;
 font-weight: 900;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif,"Arial";
}
.bodytext ol{
    font-size: xx-large;
    font-weight: 900;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.maincontentbody{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}
.quallink ,.quanlink {
    margin-top: 30vh;

}
.quallink a,.quanlink a{
    text-decoration: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size:medium;
    border: 1px solid black;
    background-color:#0097B2    ;
    transition:0.4s;
    opacity:1;
   margin: 1px;
   font-weight:700;
   padding: 25vh;
   border-radius: 10vh;
   margin: 5vh;
}
.quallink a:hover,.quanlink a:hover{
    text-decoration: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size:medium;
    border: 1px solid black;
    background-color:#FFF6EA;
    transition:0.4s;
    opacity:1;
   margin: 1px;
   font-weight:700;
   margin: 5vh;

}
.members{
    display: flex;
    margin-top: 25vh;
}
.pic{
    display: flex;
    flex-direction: column;
font-family: "Comic Sans MS", "Comic Sans", cursive;  
padding: 10vh;
}

.pic h1{
    font-family: "Comic Sans MS", "Comic Sans", cursive;  
    font-size:large;
    text-align: center;
}
.pic h2{
    text-align: center;
}
